bidict
flask
bootstrap-flask
eventlet
flask-socketio
gunicorn
pillow
pip-chill
opencv-python
beautifulsoup4
soundfile
crepe==0.0.13
Wave==0.0.2
matplotlib
librosa==0.9.2
pysentimiento==0.5.2
wordcloud==1.8.2.2
openai-whisper
accelerate
tensorflow
gunicorn
opencv-python-headless
ffmpeg
