<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="bemehttp" enabled="true">
                    <match url="beme(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:8001/beme/{R:2}" />
                    <serverVariables>
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="TRACE" allowed="false" />
                    <add verb="PUT" allowed="false" />
                    <add verb="DELETE" allowed="false" />
                    <add verb="OPTIONS" allowed="false" />
                    <add verb="HEAD" allowed="false" />
                    <add verb="CONNECT" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
