<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>BeMe Simulation</title>
    <!-- Favicons -->
    <link href="static/img/face-id.png" rel="icon" />
    <link rel="stylesheet" href="static/css/bootstrap1.min.css" />
    <link rel="stylesheet" href="static/css/styleCharts.css" />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/css/styleRecommendation.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body class="crm_body_bg">
    <section class="main_content dashboard_part">
      <div class="container-fluid g-0">
        <div class="row">
          <div class="col-lg-12 p-0">
            <div
              class="header_iner d-flex justify-content-between align-items-center"
            >
              <div class="page_title_left">
                <h1>BeMe Simulation</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_content_iner">
        <div class="container-fluid plr_30 body_white_bg pt_30">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-10 recommendations">
              <h3>Suggestions from BeMe Simulation</h3>
              <br />
              <br />
              <h5 id="pace">Pace</h5>
              <p>
                One approach to spread a crucial message is through
                presentation. BeMe Simulation monitors your speaking tempo
                because:
              </p>
              <br />
              <ul>
                <li>
                  Studies show that speaking too quickly reduces listener
                  understanding and message retention.
                </li>
                <li>
                  Speaking too slowly might cause the listeners to lose interest
                  in what you are saying, which can harm their ability to
                  understand and remember what you are saying.
                </li>
              </ul>
              <br />
              <p><b>Recommendations:</b></p>
              <br />

              <ul>
                <li>
                  Before starting a new slide or segment of your presentation,
                  take a deep breath.
                </li>
                <li>
                  Try to think of a good transitional phrase you can use when
                  you switch to the next slide, even if it's something as
                  straightforward as, "Let's move on," or "Let's talk about (the
                  subject of the next slide)." As you go along, this may assist
                  you to relax.
                </li>
                <li>
                  Be aware that speaking quickly or excitedly due to your love
                  for the subiect vou are discussing may lead your listeners to
                  lose interest in what you are saying.
                </li>
              </ul>

              <br />
              <br />
              <h5>Filler words</h5>
              <p>
                Confidence enhances the persuasiveness of your message when you
                are telling a narrative to an audience. BeMe Simulation listens
                for filler words because:
              </p>
              <br />
              <ul>
                <li>
                  According to research, an audience may feel less trust in a
                  presenter's knowledge If they utilize filler words frequently.
                  In turn, this may cause the audience to have less faith in the
                  tale being conveyed.
                </li>
                <li>
                  Although utilizing filler words is a common speaking
                  technique, if you use too many, they may detract from your
                  point or worse. As you use this tool over time, Speaker Coach
                  will gain knowledge.
                </li>
              </ul>
              <br />
              <p><b>Recommendations:</b></p>
              <br />
              <ul>
                <li>If you need a moment to collect your thoughts, pause.</li>
                <li>
                  Take a deep breath to calm yourself down if you are anxious.
                </li>
                <li>
                  Make time to practice more before the presentation to become
                  more familiar with your subject.
                </li>
                <li>
                  If you frequently find yourself utilizing filler words to
                  signal transitions, make a list of suitable transitional
                  phrases.
                </li>
                <li>
                  Avoid using below Filler Sounds,Filler Words or Filler Phrases
                  listed in the below Table.
                </li>
              </ul>
              <br />
              <table>
                <tr>
                  <th>Filler Sounds</th>
                  <th>Filler Words</th>
                  <th>Filler Phrases</th>
                </tr>
                <tr>
                  <td>um</td>
                  <td>like</td>
                  <td>you know</td>
                </tr>
                <tr>
                  <td>ah</td>
                  <td>well</td>
                  <td>I mean</td>
                </tr>
                <tr>
                  <td>er</td>
                  <td>actually</td>
                  <td>sort of</td>
                </tr>
                <tr>
                  <td>mmm</td>
                  <td>basically</td>
                  <td>kind of</td>
                </tr>
                <tr>
                  <td>hmm</td>
                  <td>honesly</td>
                  <td>in a way</td>
                </tr>
                <tr>
                  <td>uh-huh</td>
                  <td>really</td>
                  <td>to be honest</td>
                </tr>
                <tr>
                  <td>oh</td>
                  <td>just</td>
                  <td>I guess</td>
                </tr>
                <tr>
                  <td>eh</td>
                  <td>anyway</td>
                  <td>I suppose</td>
                </tr>
                <tr>
                  <td>mm-hmm</td>
                  <td>so</td>
                  <td>I think</td>
                </tr>
                <tr>
                  <td>huh</td>
                  <td>anyhow</td>
                  <td>as I was saying</td>
                </tr>
                <tr>
                  <td>ugh</td>
                  <td>umm</td>
                  <td>at the end of the day</td>
                </tr>
                <tr>
                  <td>ahem</td>
                  <td>anyway</td>
                  <td>by the way</td>
                </tr>
                <tr>
                  <td>tsk-tsk</td>
                  <td>ok</td>
                  <td>like I said</td>
                </tr>
                <tr>
                  <td>oops</td>
                  <td>sure</td>
                  <td>I mean to say</td>
                </tr>
                <tr>
                  <td>y'know</td>
                  <td>well, you see</td>
                  <td>in other words</td>
                </tr>
                <tr>
                  <td>hmmm</td>
                  <td>I mean, I guess</td>
                  <td>to some extent</td>
                </tr>
                <tr>
                  <td>ehhhh</td>
                  <td>frankly</td>
                  <td>needless to say</td>
                </tr>
                <tr>
                  <td>tsk</td>
                  <td>anyways</td>
                  <td>in a sense</td>
                </tr>
                <tr>
                  <td>mmkay</td>
                  <td>basically</td>
                  <td>all things considered</td>
                </tr>
                <tr>
                  <td>ahh</td>
                  <td>as a matter of fact</td>
                  <td>on the other hand</td>
                </tr>
                <tr>
                  <td>uhh</td>
                  <td>apparently</td>
                  <td>for instance</td>
                </tr>
                <tr>
                  <td>meh</td>
                  <td>especially</td>
                  <td>that being said</td>
                </tr>
                <tr>
                  <td>pffft</td>
                  <td>fundamentally</td>
                  <td>to a certain extent</td>
                </tr>
                <tr>
                  <td>bleh</td>
                  <td>moreover</td>
                  <td>as it were</td>
                </tr>
                <tr>
                  <td>psst</td>
                  <td>nontheless</td>
                  <td>that said</td>
                </tr>
                <tr>
                  <td>huh-uh</td>
                  <td>otherwise</td>
                  <td>as a result</td>
                </tr>
                <tr>
                  <td>nuh-uh</td>
                  <td>seemingly</td>
                  <td>at any rate</td>
                </tr>
                <tr>
                  <td>heh</td>
                  <td>nevertheless</td>
                  <td>be that as it may</td>
                </tr>
                <tr>
                  <td>wahey</td>
                  <td>similarly</td>
                  <td>truth be told</td>
                </tr>
              </table>

              <br />
              <br />
              <h5>Pitch</h5>
              <p>
                Speaking in monotone can make it more difficult for the target
                audience to stay engaged or recognize what to focus on.
              </p>
              <br />
              <p><b>Recommendations:</b></p>
              <br />
              <p>
                In order to keep their interest and enhance your communication
                be positive to emphasize the key words and phrases by means of
                adjusting your quantity and pitch. If you are working from notes
                or a script be cautious not to just read from the script as that
                can lead you to be extra monotone and much less natural.
              </p>

              <br />
              <br />
              <h5>Pronunciation</h5>

              <p><b>Recommendations:</b></p>
              <br />
              <ul>
                <li>
                  Be clear and precise in how you pronounce your words. If there
                  are words that are challenging for you to pronounce correctly,
                  practice them carefully until you are assured that you can say
                  them besides tripping up.
                </li>
              </ul>

              

              <br />
              <br />
              <h5>Inclusive Words</h5>
              <p><b>Recommendations:</b></p>
              <br />
              <table>
                <tr>
                  <th>Terms To Reconsider</th>
                  <th>Alternative Term to Use</th>
                </tr>
                <tr>
                  <td>victim</td>
                  <td>person who has experienced…<br>
                    person who has been impacted by…</td>
                
                </tr>
                <tr>
                  <td>survivor </td>
                  <td>person who has experienced…<br>
                    person who has been impacted by…</td>
                 
                </tr>
                <tr>
                  <td>is afflicted with</td>
                  <td>is affected by</td>
                </tr>
                <tr>
                  <td>suffers from</td>
                  <td>is affected by</td>
                </tr>
                <tr>
                  <td>is a victim of</td>
                  <td>is affected by</td>
                </tr>
                <tr>
                  <td>wheelchair-bound</td>
                  <td>person who uses a wheelchair</td>
                </tr>
                <tr>
                  <td>mentally ill</td>
                  <td>person living with a mental health condition<br>
                    person with a mental disorder<br>
                    person with a mental illness</td>
                </tr>
                <tr>
                  <td>abusive relationship</td>
                  <td>relationship with a person who is abusive</td>
                </tr>
                <tr>
                  <td>addict</td>
                  <td>person with a substance use disorder</td>
                </tr>
                <tr>
                  <td>homeless person</td>
                  <td>person without housing</td>
                </tr>
                <tr>
                  <td>prostitute</td>
                  <td>person who engages in sex work</td>
                </tr>
                <tr>
                  <td>prisoner</td>
                  <td>person who is/has been incarcerated</td>
                
                </tr>
                <tr>
                  <td>convict</td>
                  <td>person who is/has been incarcerated</td>
                  
                </tr>
                <tr>
                  <td>the aged</td>
                  <td>older adults <br>
                    older people <br>
                    persons 65 years and older <br>
                    the older population</td>
                </tr>
                <tr>
                  <td>elderly people</td>
                  <td>older adults <br>
                    older people <br>
                    persons 65 years and older <br>
                    the older population</td>
                </tr>
                <tr>
                  <td>the elderly</td>
                  <td>older adults <br>
                    older people <br>
                    persons 65 years and older <br>
                    the older population</td>
                </tr>
                <tr>
                  <td>seniors </td>
                  <td>older adults <br>
                    older people <br>
                    persons 65 years and older <br>
                    the older population</td>
                </tr>
                <tr>
                  <td>senior citizens</td>
                  <td>older adults <br>
                    older people <br>
                    persons 65 years and older <br>
                    the older population</td>
                </tr>
                <tr>
                  <td>special needs</td>
                  <td>person with a disability<br>
                    person with a physical disability<br>
                    people with intellectual disabilities</td>
                </tr>
                <tr>
                  <td>physically challenged </td>
                  <td>person with a disability<br>
                    person with a physical disability<br>
                    people with intellectual disabilities</td>
                </tr>
                <tr>
                  <td>mentally challenged</td>
                  <td>person with a disability<br>
                    person with a physical disability<br>
                    people with intellectual disabilities</td>
                </tr>
                <tr>
                  <td>mentally retarded</td>
                  <td>person with a disability<br>
                    person with a physical disability<br>
                    people with intellectual disabilities</td>
                </tr>
                <tr>
                  <td>wheelchair-bound</td>
                  <td>mobility impaired<br>
                    person with a physical 
                    impairment</td>
                </tr>
                <tr>
                  <td>crippled</td>
                  <td>mobility impaired<br>
                    person with a physical 
                    impairment</td>
                </tr>
                <tr>
                  <td>person with deafness</td>
                  <td>deaf person</td>
                </tr>
                <tr>
                  <td>person who is deaf</td>
                  <td>deaf person</td>
                </tr>
                <tr>
                  <td>hearing-impaired person</td>
                  <td>hard-of-hearing person<br>
                    person who is hard-of-hearing</td>
                </tr>
                <tr>
                  <td>visually challenged person</td>
                  <td>visually impaired person<br>
                    vision-impaired person<br>
                    person who is visually impaired<br>
                    person who is vision impaired</td>
                </tr>
                <tr>
                  <td>sight-challenged person</td>
                  <td>visually impaired person<br>
                    vision-impaired person<br>
                    person who is visually impaired<br>
                    person who is vision impaired</td>
                </tr>
                <tr>
                  <td>wheelchair-bound person</td>
                  <td>wheelchair user, person in a wheelchair</td>
                </tr>

                <tr>
                  <td>AIDS victim</td>
                  <td>person with aids</td>
                </tr>

                <tr>
                  <td>brain damaged </td>
                  <td>person with a traumatic brain injury</td>
                </tr>
                <tr>
                  <td>OCD</td>
                  <td>person with ocd</td>
                </tr>

                <tr>
                  <td>Mental Patient</td>
                  <td>person with mental disorder</td>
                </tr>

                <tr>
                  <td>alcoholic</td>
                  <td>person with alcohol use disorder</td>
                </tr>

                <tr>
                  <td>meth addict</td>
                  <td>person with substance use disorder</td>
                </tr>
                <tr>
                  <td>people who have special needs</td>
                  <td>people who have particular requirements, people who require specific accommodations</td>
                </tr>
                <tr>
                  <td>dwarf </td>
                  <td>person with short stature<br>
                    person with restricted growth
                  </td>
                </tr>

                <tr>
                  <td>dwarfism</td>
                  <td>person with short stature, person with restricted growth</td>
                </tr>

                <tr>
                  <td>the disabled</td>
                  <td>people with a disability/disabilities</td>
                </tr>

                <tr>
                  <td>disabled people</td>
                  <td>people with a disability/disabilities</td>
                </tr>

                <tr>
                  <td>the handicapped</td>
                  <td>people with a disability/disabilities</td>
                </tr>

                <tr>
                  <td>blindspot</td>
                  <td>missed opportunity</td>
                </tr>

                <tr>
                  <td>standing with</td>
                  <td>in solidarity with</td>
                </tr>

                <tr>
                  <td>African American</td>
                  <td>black person</td>
                </tr>

                <tr>
                  <td>Foreigners</td>
                  <td>people from overseas </td>
                </tr>

                <tr>
                  <td>Asian</td>
                  <td>asian american, asian canadian respectively</td>
                </tr>

                <tr>
                  <td>BIPOC (Black, Indigenous, and people of color)</td>
                  <td>people/persons of color and communities of color</td>
                </tr>

                <tr>
                  <td>Blacklist</td>
                  <td>deny list</td>
                </tr>

                <tr>
                  <td>White List</td>
                  <td>allow list</td>
                </tr>

                <tr>
                  <td>guru</td>
                  <td>expert/ guide</td>
                </tr>

                <tr>
                  <td>peanut gallery</td>
                  <td>outside opinions</td>
                </tr>

                <tr>
                  <td>Tribal knowledge</td>
                  <td>institute/ background knowledge</td>
                </tr>

                <tr>
                  <td>mixed race</td>
                  <td>biracial, multiracial</td>
                </tr>

                <tr>
                  <td>black market</td>
                  <td>informal economy</td>
                </tr>

                <tr>
                  <td>homeless</td>
                  <td>homeless people, homeless person, people experiencing homelessness</td>
                </tr>

                <tr>
                  <td>birth sex</td>
                  <td>assigned sex, sex assigned at birth</td>
                </tr>

                <tr>
                  <td>natal sex</td>
                  <td>assigned sex, sex assigned at birth</td>
                </tr>

                <tr>
                  <td>Man </td>
                  <td>person/ individual</td>
                </tr>

                <tr>
                  <td>woman</td>
                  <td>person/ individual</td>
                </tr>

                <tr>
                  <td>salesman</td>
                  <td>salesperson, sales representative</td>
                </tr>

                <tr>
                  <td>man up</td>
                  <td>be brave</td>
                </tr>

                <tr>
                  <td>female scientist</td>
                  <td>scientist</td>
                </tr>

                <tr>
                  <td>saleswoman</td>
                  <td>salesperson, sales representative</td>
                </tr>

                <tr>
                  <td>gender minorities</td>
                  <td>gender non-conforming people (gnc)</td>
                </tr>

                <tr>
                  <td>mother or father</td>
                  <td>parent, parenthood</td>
                </tr>

                <tr>
                  <td>pro-life</td>
                  <td>anti-abortion, anti-choice</td>
                </tr>

                <tr>
                  <td>born a girl</td>
                  <td>assigned female at birth</td>
                </tr>

                <tr>
                  <td>born female</td>
                  <td>assigned female at birth (afab)</td>
                </tr>

                <tr>
                  <td>born a boy</td>
                  <td>assigned male at birth (amab)</td>
                </tr>

                <tr>
                  <td>born male</td>
                  <td>assigned male at birth (amab)</td>
                </tr>

                <tr>
                  <td>care burden</td>
                  <td>care workload,<br> 
                    heavy and unequal care work</td>
                </tr>

                <tr>
                  <td>the burden of care</td>
                  <td>care workload,<br> 
                    heavy and unequal care work</td>
                </tr>

                <tr>
                  <td>Decent work</td>
                  <td>dignified work</td>
                </tr>

                <tr>
                  <td>domestic servant</td>
                  <td>domestic workers</td>
                </tr>

                <tr>
                  <td>child marriage, early marriage</td>
                  <td>forced marriage</td>
                </tr>

                <tr>
                  <td>Boyfriend</td>
                  <td>partner</td>
                </tr>

                <tr>
                  <td>Girlfriend</td>
                  <td>partner</td>
                </tr>

                <tr>
                  <td>Husband</td>
                  <td>spouses</td>
                </tr>

                <tr>
                  <td>Wife</td>
                  <td>spouses</td>
                </tr>

                <tr>
                  <td>Niece</td>
                  <td>nibling</td>
                </tr>

                <tr>
                  <td>Nephew</td>
                  <td>nibling</td>
                </tr>

                <tr>
                  <td>mankind</td>
                  <td>human beings, humankind</td>
                </tr>

                <tr>
                  <td>Chairman</td>
                  <td>chair/chairperson</td>
                </tr>

                <tr>
                  <td>Best man for the job</td>
                  <td>best person for the job</td>
                </tr>

                <tr>
                  <td>spokesman</td>
                  <td>spokesperson</td>
                </tr>

                <tr>
                  <td>labour force</td>
                  <td>paid labour, paid labour force</td>
                </tr>

                <tr>
                  <td>poor women and girls</td>
                  <td>women and girls living in poverty</td>
                </tr>

                <tr>
                  <td>Hi girls, guys, ladies, gentlemen</td>
                  <td>hi all, folks, team, friends, everyone</td>
                </tr>

                <tr>
                  <td>minority groups</td>
                  <td>lgbtqia+  groups</td>
                </tr>

                <tr>
                  <td>Class of the person</td>
                  <td>socioeconomic status</td>
                </tr>

                <tr>
                  <td>People struggling</td>
                  <td>people facing barriers</td>
                </tr>

                <tr>
                  <td>I look like a tramp</td>
                  <td>i look messy, untidy</td>
                </tr>

                <tr>
                  <td>the poor people</td>
                  <td>people whose incomes are below the federal poverty threshold people whose self-reported incomes were in the lowest income bracket</td>
                </tr>

                <tr>
                  <td>low-class people</td>
                  <td>people whose incomes are below the federal poverty threshold people whose self-reported incomes were in the lowest income bracket</td>
                </tr>

                <tr>
                  <td>long time no see</td>
                  <td>it’s been a while!</td>
                </tr>


                <tr>
                  <td>pipeline</td>
                  <td>pathway</td>
                </tr>

                <tr>
                  <td>powwow</td>
                  <td>meeting, party, or gathering </td>
                </tr>

                <tr>
                  <td>spirit animal</td>
                  <td>favorite animal,<br> 
                    animal i would most like to be</td>
                </tr>

                <tr>
                  <td>tribe</td>
                  <td> friends, group, pals, team</td>
                </tr>

                <tr>
                  <td>sold down the river</td>
                  <td> betrayed</td>
                </tr>

                <tr>
                  <td>to get gypped</td>
                  <td> to get ripped off</td>
                </tr>

                <tr>
                  <td>to get Jewed</td>
                  <td>to get haggled down</td>
                </tr>

                <tr>
                  <td>killing it</td>
                  <td>great job!<br>
                    awesome!</td>
                </tr>

                <tr>
                  <td>pull the trigger</td>
                  <td>give it a go /try</td>
                </tr>

                <tr>
                  <td>take a shot at</td>
                  <td>give it a go /try</td>
                </tr>

                <tr>
                  <td>take your best shot</td>
                  <td>give it a go /try</td>
                </tr>

                <tr>
                  <td>take a stab at</td>
                  <td>give it a go /try</td>
                </tr>

                <tr>
                  <td>go off the reservation</td>
                  <td>disagree with the group,<br> 
                    defect from the group</td>
                </tr>

                <tr>
                  <td>child prostitute</td>
                  <td>child who has been trafficked,<br> 
                    child who has been raped,<br>
                    rape </td>
                </tr>

                <tr>
                  <td>sex with an underage person</td>
                  <td>child who has been trafficked,<br>
                      child who has been raped,<br>
                      rape </td>
                </tr>

                <tr>
                  <td>nonconsensual sex</td>
                  <td>child who has been trafficked,<br>
                      child who has been raped,<br>
                      rape </td>
                </tr>

                <tr>
                  <td>unsuccessful suicide</td>
                  <td>took their own life,<br>
                    ended their own life,<br>
                    death by suicide,<br> 
                    completed suicide,<br> 
                    attempted suicide</td>
                </tr>

                <tr>
                  <td>sanitary products</td>
                  <td>menstrual products,<br> 
                      period products</td>
                </tr>

                <tr>
                  <td>feminine hygiene</td>
                  <td>menstrual products,<br> 
                    period products
                  </td>
                </tr>

                <tr>
                  <td>expectant mothers</td>
                  <td>pregnant women,<br> 
                      people who become pregnant
                  </td>
                </tr>
                <tr>
                  <td>VAWG</td>
                  <td> violence against women and girls
                  </td>
                </tr>

                <tr>
                  <td>illegal immigrant</td>
                  <td>asylum seeker,<br> 
                      person/people seeking asylum
                  </td>
                </tr>

                <tr>
                  <td>economic migrant</td>
                  <td>migrant</td>
                </tr>

                <tr>
                  <td>expat</td>
                  <td>migrant</td>
                </tr>

                <tr>
                  <td>natural disasters</td>
                  <td>natural shocks,<br> 
                    neoliberalism,<br> 
                    natural hazards,<br> 
                    human disasters
                  </td>
                </tr>

                <tr>
                  <td>peasant</td>
                  <td>smallholder,<br> 
                      smallholder farmer,<br>
                      agricultural labourer,<br> 
                      subsistence farmer
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="footer_part">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-xl-9">
              <div class="footer_iner text-center">
                <p>Copyright © Tech Mahindra Limited. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='/js/active_chart.js')}}"
    ></script>
  </body>
</html>
